<footer class="bg-white text-black py-16 lg:py-[100px] ml-2">
  <div
    class="container footer mx-auto flex flex-col lg:flex-row justify-between"
  >
    <!-- Yardım -->
    <div class="footer-section mb-8 lg:mb-0 lg:mr-12">
      <h3 class="font-bold mb-3 font-poppins">Yardım</h3>
      <ul class="list-none font-poppins">
        <li><a href="/constructionphase">Nasıl ödeme alışverişi yapılır</a></li>
        <li><a href="/constructionphase">Ödeme</a></li>
        <li><a href="/constructionphase">Gönderi</a></li>
        <li><a href="/constructionphase">Değişim ve iade</a></li>
        <li><a href="/constructionphase">Beden kılavuzu</a></li>
        <li><a href="/constructionphase">E-ticket</a></li>
      </ul>
    </div>

    <!-- Müşteri Hizmetleri -->
    <div class="footer-section mb-8 lg:mb-0 lg:mr-12">
      <h3 class="font-bold mb-3 font-poppins">Müşteri Hizmetleri</h3>
      <ul class="list-none font-poppins">
        <li>
          <a href="/constructionphase">Sana nasıl yardımcı olabiliriz?</a>
        </li>
        <li><a href="/constructionphase">İletişim</a></li>
        <li><a href="/constructionphase">Siparişin durumu</a></li>
      </ul>
    </div>

    <!-- Şirket -->
    <div class="footer-section mb-8 lg:mb-0 lg:mr-12">
      <h3 class="font-bold mb-3 font-poppins">Şirket</h3>
      <ul class="list-none font-poppins">
        <li><a href="/constructionphase">Hakkımızda</a></li>
        <li><a href="/constructionphase">Mağazalarımız</a></li>
        <li><a href="/constructionphase">Bizimle çalışın</a></li>
      </ul>
    </div>

    <!-- Sosyal Medya -->
    <div class="footer-section lg:ml-30">
      <!-- Sağdan 30px boşluk -->
      <h3 class="font-bold mb-3 font-poppins">Sosyal Medya</h3>
      <div class="flex space-x-4">
        <a href="/constructionphase" class="social-icon"
          ><i class="fab fa-facebook text-black text-xl"></i
        ></a>
        <a href="/constructionphase" class="social-icon"
          ><i class="fab fa-twitter text-black text-xl"></i
        ></a>
        <a href="/constructionphase" class="social-icon"
          ><i class="fab fa-instagram text-black text-xl"></i
        ></a>
        <a href="/constructionphase" class="social-icon"
          ><i class="fab fa-linkedin text-black text-xl"></i
        ></a>
        <a href="/constructionphase" class="social-icon"
          ><i class="fab fa-pinterest text-black text-xl"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
