<nav class="bg-white py-1">
  <div class="flex items-center justify-between px-4 md:px-20">
    <!-- px değeri mobilde ayarlanabilir -->
    <!-- Sol kısım: Logo ve Menü İkonu -->
    <div class="flex items-center">
      <div class="mr-2">
        <div class="openbtn" id="openBtn">
          <span></span><span></span><span></span>
        </div>
      </div>
      <ul class="flex">
        <li class="mr-2">
          <a href="/" aria-label="Ana Sayfa"
            ><img
              src="/static/images/ravique-logo.png"
              alt="Logo"
              class="h-7 w-auto mr-2"
          /></a>
        </li>

        <% if (isAdmin || isModerator) { %>
        <li class="flex items-center">
          <a
            href="/admin/adminpanel"
            class="font-poppins font-medium text-sm hidden lg:block"
            aria-label="Admin Panel"
            >Admin Panel</a
          >
        </li>

        <% } %>
      </ul>
    </div>

    <!-- Sağ kısım: Ara, Kullanıcı, Sepet -->
    <div class="flex items-center space-x-5">
      <!-- Ara -->
      <a href="/constructionphase" aria-label="Ara">
        <div class="flex items-center space-x-2 text-black">
          <svg
            class="menu-search-icon"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.6815 9.58838C18.4095 13.3301 15.9664 16.9535 12.2247 17.6815C8.483 18.4095 4.85959 15.9664 4.1316 12.2247C3.4036 8.48298 5.84669 4.85958 9.58839 4.13158C13.3301 3.40359 16.9535 5.84668 17.6815 9.58838ZM16.1944 16.7801C15.1644 17.7092 13.8765 18.3789 12.4157 18.6631C8.13186 19.4965 3.98347 16.6995 3.15 12.4157C2.31653 8.13184 5.11359 3.98346 9.39741 3.14999C13.6812 2.31652 17.8296 5.11358 18.6631 9.3974C19.1533 11.9172 18.3875 14.3901 16.8018 16.1691C16.8861 16.1905 16.9659 16.2342 17.0318 16.3001L21.785 21.0532C21.9802 21.2485 21.9802 21.5651 21.785 21.7603C21.5897 21.9556 21.2731 21.9556 21.0778 21.7603L16.3247 17.0072C16.2595 16.942 16.2161 16.8633 16.1944 16.7801Z"
              fill="#1E1E1E"
            ></path>
          </svg>
          <span class="font-poppins font-medium text-sm hidden lg:flex"
            >Ara</span
          >
        </div>
      </a>

      <!-- Kullanıcı -->
      <% if (!isAuth) { %>
      <a href="/account/login" aria-label="Oturum Aç">
        <div class="flex items-center space-x-2 text-black">
          <svg
            width="18"
            height="24"
            viewBox="0 0 21 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_2157_12152)">
              <path
                d="M10.4405 11.2316C13.2135 11.2316 15.4615 8.98367 15.4615 6.21067C15.4615 3.43766 13.2135 1.1897 10.4405 1.1897C7.66752 1.1897 5.41956 3.43766 5.41956 6.21067C5.41956 8.98367 7.66752 11.2316 10.4405 11.2316Z"
                stroke="#1D1D1B"
                stroke-linejoin="round"
              ></path>
              <path
                d="M10.4406 12.5659H7.8546C0.979735 13.686 0.979736 20.3677 0.979736 20.3677C0.90249 23.0327 3.14262 23.2258 3.14262 23.2258H17.7385C17.7385 23.2258 19.9787 23.0327 19.9014 20.3677C19.9014 20.3677 19.9014 13.686 13.0266 12.5659H10.4406Z"
                stroke="#1D1D1B"
                stroke-miterlimit="10"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0_2157_12152">
                <rect width="21" height="24" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          <span class="font-poppins font-medium text-sm hidden lg:flex"
            >Oturum Aç</span
          >
          <!-- Sadece mobilde gizlendi -->
        </div>
      </a>
      <% }%> <% if (isAuth) { %>
      <a href="/" class="font-poppins font-medium text-sm hidden md:flex">
        <%= fullname %>
      </a>
      <a href="/account/logout" aria-label="Çıkış Yap">
        <div class="flex items-center space-x-2 text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
            width="18"
            height="24"
            version="1.1"
            id="Capa_1"
            viewBox="0 0 384.971 384.971"
            xml:space="preserve"
          >
            <g>
              <g id="Sign_Out">
                <path
                  d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03    C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03    C192.485,366.299,187.095,360.91,180.455,360.91z"
                />
                <path
                  d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279    c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179    c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"
                />
              </g>
            </g>
          </svg>

          <span class="font-poppins font-medium text-sm hidden lg:flex"
            >Çıkış Yap</span
          >
          <!-- Sadece mobilde gizlendi -->
        </div>
      </a>

      <% }%>

      <!-- Sepet -->
      <a href="/constructionphase" aria-label="Sepet">
        <div class="flex items-center space-x-2 text-black">
          <svg
            width="21"
            height="25"
            viewBox="0 0 23 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.0021 6.2699H3.51825C2.12746 6.2699 1 7.39736 1 8.78815V20.5635C1 21.9543 2.12746 23.0817 3.51825 23.0817H19.0021C20.3929 23.0817 21.5204 21.9543 21.5204 20.5635V8.78815C21.5204 7.39736 20.3929 6.2699 19.0021 6.2699Z"
              stroke="#1D1D1B"
              stroke-linejoin="round"
            ></path>
            <path
              d="M6.5 5.79642C6.5 3.14723 8.64723 1 11.2964 1C13.9456 1 16.0928 3.14723 16.0928 5.79642"
              stroke="#1D1D1B"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="font-poppins font-medium text-sm hidden lg:flex"
            >Sepet</span
          >
          <!-- Sadece mobilde gizlendi -->
        </div>
      </a>
    </div>
  </div>

  <% if (isAdmin || isModerator) { %>
  <div class="mb-2">
    <a
      href="/admin/adminpanel"
      class="font-poppins font-medium pl-4 text-sm hidden lg:hidden admin-panel"
      aria-label="Admin Panel"
      >Admin Panel</a
    >
  </div>

  <% } %>
</nav>
