<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <h1>Oops! Bir hata oluştu.</h1>
    <p>Üzgünüz, lütfen tekrar deneyiniz.</p>
    <p><a href="/">Ana sayfaya dön</a></p>
  </body>
</html>
