<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <div class="mt-3 max-w-md mx-auto">
        <h1>Beklenmeyen bir hata oluştu. Lütfen tekrar deneyiniz.</h1>
      </div>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
